{
    "///////// Market Maker Settings": "pm2 start marketmaker.js",

    "mmAccessKey": "Autradex Access Key For Market Maker",
    "mmSecretKey": "Autradex Secret Key For Market Maker",
    "mmLoop": "Time in seconds between each check of orders",
    "mmMarket": "The Market on which you want to market make. ie dogebtc",
    "mmSpread": "Stop when spread is lower or equal to",
    "mmIncrease": "How much to increase and decrease orders from current
    "mmVol": "The volume you'd like to place as each trade",

    "///////// Arbitrage Bot Settings - You can use the same keys for each market":"",
    "///////// but it is recommended to create them individually":"",

    "///////// Digibyte Bitcoin":"pm2 start dgbbtcarb.js",
    "///////// Autradex Keys":"",
    "dgbBtcAutxAccessKey": "",
    "dgbBtcAutxSecretKey": "",
    "///////// Graviex Keys":"",
    "dgbBtcGravAccessKey": "",
    "dgbBtcGravSecretKey": "",
    "dgbBtcLoop": "Loop Time in Seconds",
    "dgbBtcSpread": "Overlap to activate trade ie 0.00000001",
    "dgbBtcVol": "Volume to place",

    "// Doge Bitcoin":"pm2 start dogebtcarb.js",
    "dogeBtcAutxAccessKey": "",
    "dogeBtcAutxSecretKey": "",
    "dogeBtcGravAccessKey": "",
    "dogeBtcGravSecretKey": "",
    "dogeBtcLoop": "",
    "dogeBtcSpread": "",
    "dogeBtcVol": "",

    "// Litecoin Bitcoin":"pm2 start ltcbtcarb.js",
    "ltcBtcAutxAccessKey": "",
    "ltcBtcAutxSecretKey": "",
    "ltcBtcGravAccessKey": "",
    "ltcBtcGravSecretKey": "",
    "ltcBtcLoop": "",
    "ltcBtcSpread": "",
    "ltcBtcVol": "",

    "// Raven Bitcoin":"pm2 start rvnbtcarb.js",
    "rvnBtcAutxAccessKey": "",
    "rvnBtcAutxSecretKey": "",
    "rvnBtcGravAccessKey": "",
    "rvnBtcGravSecretKey": "",
    "rvnBtcLoop": "",
    "rvnBtcSpread": "",
    "rvnBtcVol": "",

    "// Genix Bitcoin":"pm2 start genixbtcarb.js",
    "genixBtcAutxAccessKey": "",
    "genixBtcAutxSecretKey": "",
    "genixBtcGravAccessKey": "",
    "genixBtcGravSecretKey": "",
    "genixBtcLoop": "",
    "genixBtcSpread": "",
    "genixBtcVol": "",

    "// Genix Doge":"pm2 start genixdogearb.js",
    "genixDogeAutxAccessKey": "",
    "genixDogeAutxSecretKey": "",
    "genixDogeGravAccessKey": "",
    "genixDogeGravSecretKey": "",
    "genixDogeLoop": "",
    "genixDogeSpread": "",
    "genixDogeVol": "",

    "// Custom market":"pm2 start customarb.js",
    "customAutxAccessKey": "",
    "customAutxSecretKey": "",
    "customGravAccessKey": "",
    "customGravSecretKey": "",
    "// Autradex market identifiers can sometime differ. Please check here https://wallet.autradex.systems/api/v2/markets":"",
    "customArbMarketAutx": "",
    "customArbMarketGrav": "",
    "customArbLoop": "",
    "customArbSpread": "",
    "customArbVol": ""

}